<h3 class='card-header bg-primary text-white'>
  {{[pageTitle]}}
</h3>

<div class="container">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form">
          <div class="form-group">
            <label for="productID">Product ID</label>
            <input type="number" class="form-control form-control-sm" type="text" placeholder="Product ID" id="productID"
              #id>
          </div>
          <div class="form-group">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control form-control-sm" type="text" placeholder="Product Name" id="productName"
              #name>
          </div>
          <div class="form-group">
            <label for="productCode">Product Code</label>
            <input type="text" class="form-control form-control-sm" type="text" placeholder="Product Code" id="productCode"
              #code>
          </div>
          <div class="form-group">
            <label for="releaseDate">Release Date</label>
            <input type="text" class="form-control form-control-sm" type="text" placeholder="Release Date" id="releaseDate"
              #releaseDate>
          </div>
          <div class="form-group">
            <label for="desc">Description</label>
            <input type="text" class="form-control form-control-sm" type="text" placeholder="Description" id="desc"
              #desc>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control form-control-sm" type="text" placeholder="Price" id="price" #price>
          </div>
          <div class="form-group">
            <label for="starRating">Star Rating</label>
            <input type="number" class="form-control form-control-sm" type="text" placeholder="Star Rating" id="starRating"
              #rating>
          </div>
          <div class="form-group">
            <label for="imageUrl">Image (URL)</label>
            <input type="text" class="form-control form-control-sm" type="text" placeholder="Image" id="imageUrl" #img>
          </div>
        </div>
        <button class="btn btn-primary btn-sm" (click)="onAdd(id.value,name.value,code.value,releaseDate.value,desc.value,price.value,rating.value,img.value)">Add
          Product
        </button>
      </form>
    </div>
  </div>


</div>