<mat-toolbar color="primary">
  <button mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/home">Toms Products</button>
  <button mat-button routerLinkActive="active" *ngIf="auth.isLoggedIn()" routerLink="/product-list">List of Products</button>
  <button mat-button routerLinkActive="active" *ngIf="auth.isLoggedIn()" routerLink="/add-product">Add a Product</button>

  <span style="flex: 1 1 auto"></span>
  <button mat-button routerLinkActive="active" *ngIf="!auth.isLoggedIn()" routerLink="/login">Login</button>
  <button mat-button routerLinkActive="active" *ngIf="auth.isLoggedIn()" (click)="onLogout()">Logout</button>
  <button mat-button routerLinkActive="active" *ngIf="!auth.isLoggedIn()" routerLink="/signup">Register</button>
</mat-toolbar>
<router-outlet></router-outlet>
